langchain
langchain-groq #some free credits
faiss-cpu  #vector database 
tiktoken
langchain-community
langchain-openai
chromadb #VD
sentence-transformers   #text to vector
pypdf
python-dotenv
ipykernel
pymupdf
langchain_huggingface
pandas
numpy
unstructured
docx2txt
python-docx
openpyxl
xlsxwriter
